h1 {
  color: darkblue;
}

.align {
  text-align: center;
}

h2 {
  color: red;
}

a {
  text-decoration: none;
}

span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-right: 3px;
}

.align-header {
  margin-top: 4px;
  margin-bottom: 12px;
  text-align: center;
}

.align-label {
  text-align: left;
  margin-left: 7px;
}